#heading{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  line-height: 1;
}

.enterTitle{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 60px 0;

  .enterTitle__p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;
    font-size: 1.25em;
  }

  input{
    border-radius: 999px;
    font-size: 1.5em;
    padding: 10px 20px;
  }
}

.question{
  font-size: 1.25em;
  margin-bottom: 30px;
}

.beets{
  margin-top: 20px;

  .beet{
    margin: 0 20px;
    opacity: 0.5;
    transition: 0.2s;

    &.hover{
      opacity: 1;
      transform: scale(1.05);
    }
  }
}

#rateButton{
  margin-top: 40px;
}

#bookTitles{
  list-style: none;
  margin: 50px auto 0;
  max-width: 728px;
  padding-left: 0;
  position: relative;
  text-align: left;
  z-index: 2;

  .book{
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    position: relative;
  }

  .label{
    display: inline;
    font-weight: bold;
  }

  .title{
    text-transform: capitalize;
  }
}

  .actions{
    align-items: center;
    display: flex;
    position: absolute; top: 10px; right: 10px;
  }

  .icon{
    align-items: center;
    border: solid 1px #000;
    border-radius: 50%;
    display: flex;
    font-weight: bold;
    height: 1em;
    justify-content: center;
    margin: 0 5px;
    padding: 10px;
    transition: all 0.5s ease;
    width: 1em;

    &:hover{
      background-color: var(--accent); 
      cursor: pointer;
      transform: rotate(180deg);
    }
  }

 
#edit{
    background: #000000d9;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 5%;
    position: fixed; top: 0; left: 0;
    width: 100%;
    z-index: 2;

    .enterTitle__p{
      color: #fff;
      margin: 0 0 30px;
    }

    .question{
      color: #fff;
      margin: 30px 0;
    }

    button{margin-top: 20px;}

    .icon{
      border-color: #fff;
      color: #fff;
    }
}

#bear{
  border-radius: 40px;
  margin-top: 40px;
}

